.container-cardSpecific{
    display: flex;
    justify-content: center;
    margin-top: 5%; 
}

.specific_header{
    color: rgb(111, 165, 228);
    
}

.specific_image{
    width: 100%; 
}

.specific_card{
    margin-top: 10%; 
    padding: 5%; 
    text-align: center;
}